<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ title }} - Stowarzyszenie Nasze Dzieci</title>
        <link rel="stylesheet" href='resources/css/default.css'/>
        <link rel="stylesheet" href='resources/fontello/css/fontello.css'/>
    </head>
    <body>
      
        <div id="fb-root"></div>
		<script>
			(function(d, s, id) {
		  		var js, fjs = d.getElementsByTagName(s)[0];
		  		if (d.getElementById(id)) return;
		  		js = d.createElement(s); js.id = id;
		  		js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8";
		  		fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
        </script>
      
       
        <header id="header">
            <nav>
                <div><a href="index">LOGO</a></div>
                <div id="top-nav"><h1>STOWARZYSZENIE NASZE DZIECI</h1></div>
                <div id="nav">
                    <ul>
                        <li><a href="aktualnosci">Aktualności</a></li>
                        <li><a href="o-nas">O nas</a>
                            <ul>
                                <li><a href="o-nas/dzialania">Nasze działania</a></li>
                                <li><a href="o-nas/statut">Statut</a></li>
                            </ul>
                        </li>
                        <li><a href="mozesz-pomoc">Jak możesz pomóc</a></li>
                        <li><a href="partnerzy">Partnerzy</a></li>
                        <li><a href="kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
        </header>


			{% block content %}
			{% endblock %}


        <footer>
            
        </footer>
	</body>
</html>