{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}

<h2 class="subpage">O nas</h2>

<p class="subpagetext">Imprezy takie jak Mikołaj, Choinka Noworoczna oraz Dzień Dziecka organizujemy co roku. Udział w nich biorą dzieci z Krakowa i okolic. Imprezy te akcentują tak popularną obecenie, a często niedocenioną kwestie integracji oddziaływań u dzieci i młodzieży o różnym stopniu sprawności motorycznej i intelektualnej.

Cieszymy się, że w sytuacji gdzy wszyscy borykamy się z problemami życia codziennego, możemy liczyć na Państwa pomoc bez której wszystkie te imprezy nie mogły by istnieć.

Imprezy tego rodzaju wnoszą w serca dzieci wiele ciepła, otuchy i nadzieji na "lepsze jutro". Wzrasta w nich przekonanie o własnej wartości i przynależności do społeczeństwa ludzi zdrowych. To miłe, że chcą Państwo, a zarazem potrafią część swojej pracy podarować innym. Stowarzyszenie Nasze Dzieci działając w tej formie dociera ze swymi imprezami do dzieci w Państwowych Domach Dziecka, Domach i Pogotowiach Opiekuńczych, Specjalistycznych Szpitalach Dziecięcych, Sanatoriach Rehabilitacyjnych, Szkołach Specjalnych, wszędzie tam, gdzie przebywają dzieci wymagające szczególnej opieki. Organizujemy również imprezy masowe i plenerowe, a także imprezy płatne, z których część wypływów również przeznaczamy na cele dobroczynne. W głównej mierze jednak staramy się docierać do dzieci, które z różnych przyczyn nie mogą obcować ze sztuką. Wszystkie te imprezy mogą odbyć się jedynie dzięki pomocy Przedsiębiorstw, Firm Prywatnych, a często też Pojedynczych Osób stąd też nasz apel i prośba do Państwa o pomoc finansową w realizacji tych przedsięwzięć. Każda nawet najmniejsza kwota jest bardzo cenna. W przypadku przekazania jakiejkolwiek kwoty na nasze konto, niezwłocznie po zrealizowaniu imprezy przesyłamy do Państwa dokumenty potwierdzające fakt wykorzystania powyższych środków na organizację imprezy tzn. rachunek oraz pismo z placówek uczestnicących w imprezie.
</p>

{% endblock %}