{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}

<h2 class="subpage">O nas</h2>

<p class="subpagetext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis error distinctio praesentium nemo, quisquam dolorum doloremque qui tenetur eveniet velit at voluptatum dolore nulla? Dolores et aliquid soluta, tempora accusantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis error distinctio praesentium nemo, quisquam dolorum doloremque qui tenetur eveniet velit at voluptatum dolore nulla? Dolores et aliquid soluta, tempora accusantium.</p>

{% endblock %}