
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e801'; } /* '' */
.icon-certificate-outline:before { content: '\e802'; } /* '' */
.icon-css:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-link-1:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-users-1:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-group:before { content: '\e80b'; } /* '' */
.icon-heart-1:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e811'; } /* '' */
.icon-left-open-big:before { content: '\e812'; } /* '' */
.icon-right-open-1:before { content: '\e813'; } /* '' */
.icon-left-open-1:before { content: '\e814'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */